[class^="icon-"], [class*="icon-"] { display: inline-block; }

.icon-sprite, .icon-bike, .icon-camera-lite, .icon-camera-o, .icon-camera, .icon-car-lite, .icon-car-o-dark, .icon-car-o, .icon-car-sm, .icon-car-type-1, .icon-car-type-2, .icon-car-type-3, .icon-car-type-4, .icon-car-type-5, .icon-car-type-6, .icon-car-type-7, .icon-car-type-8, .icon-car-type-9, .icon-car, .icon-cart-lite, .icon-cart, .icon-create-sm, .icon-create_lg, .icon-dashboard-sm, .icon-dealer, .icon-details-lite, .icon-details, .icon-email, .icon-engine, .icon-gasoline, .icon-gear-lite, .icon-gear, .icon-liter, .icon-location, .icon-lock, .icon-manage-sm, .icon-search-sm, .icon-search_lg, .icon-signout-sm, .icon-type, .icon-user-sm-o, .icon-user-sm, .icon-view_detailed, .icon-view_map_list { background-image: url('../images/icon-sa58b6f223f.png'); background-repeat: no-repeat; }

.icon-bike { background-position: 0 0; }

.icon-camera-lite { background-position: -67px 0; }

.icon-camera-o { background-position: -118px 0; }

.icon-camera { background-position: -174px 0; }

.icon-car-lite { background-position: -225px 0; }

.icon-car-o-dark { background-position: -270px 0; }

.icon-car-o { background-position: -382px 0; }

.icon-car-sm { background-position: -494px 0; }

.icon-car-type-1 { background-position: -519px 0; }

.icon-car-type-2 { background-position: -556px 0; }

.icon-car-type-3 { background-position: -593px 0; }

.icon-car-type-4 { background-position: -633px 0; }

.icon-car-type-5 { background-position: -664px 0; }

.icon-car-type-6 { background-position: -703px 0; }

.icon-car-type-7 { background-position: -746px 0; }

.icon-car-type-8 { background-position: -784px 0; }

.icon-car-type-9 { background-position: -823px 0; }

.icon-car { background-position: -862px 0; }

.icon-cart-lite { background-position: -912px 0; }

.icon-cart { background-position: -957px 0; }

.icon-create-sm { background-position: -1004px 0; }

.icon-create_lg { background-position: -1029px 0; }

.icon-dashboard-sm { background-position: -1079px 0; }

.icon-dealer { background-position: -1104px 0; }

.icon-details-lite { background-position: -1121px 0; }

.icon-details { background-position: -1160px 0; }

.icon-email { background-position: -1199px 0; }

.icon-engine { background-position: -1225px 0; }

.icon-gasoline { background-position: -1242px 0; }

.icon-gear-lite { background-position: -1259px 0; }

.icon-gear { background-position: -1303px 0; }

.icon-liter { background-position: -1345px 0; }

.icon-location { background-position: -1358px 0; }

.icon-lock { background-position: -1375px 0; }

.icon-manage-sm { background-position: -1398px 0; }

.icon-search-sm { background-position: -1423px 0; }

.icon-search_lg { background-position: -1448px 0; }

.icon-signout-sm { background-position: -1498px 0; }

.icon-type { background-position: -1523px 0; }

.icon-user-sm-o { background-position: -1543px 0; }

.icon-user-sm { background-position: -1571px 0; }

.icon-view_detailed { background-position: -1596px 0; }

.icon-view_map_list { background-position: -1625px 0; }

.icon-bike { height: 43px; width: 67px; }

.icon-car-o-dark { height: 38px; width: 112px; }

.icon-car-o { height: 38px; width: 112px; }

.icon-car { height: 46px; width: 50px; }

.icon-car-sm { height: 25px; width: 25px; }

.icon-create_lg { height: 46px; width: 50px; }

.icon-create-sm { height: 25px; width: 25px; }

.icon-dashboard-sm { height: 25px; width: 25px; }

.icon-manage-sm { height: 25px; width: 25px; }

.icon-search_lg { height: 46px; width: 50px; }

.icon-search-sm { height: 25px; width: 25px; }

.icon-user-sm { height: 25px; width: 25px; }

.icon-signout-sm { height: 25px; width: 25px; }

.icon-user-sm-o { height: 28px; width: 28px; }

.icon-email { height: 27px; width: 26px; }

.icon-liter { height: 12px; width: 13px; }

.icon-lock { height: 26px; width: 23px; }

.icon-engine { height: 15px; width: 17px; }

.icon-location { height: 18px; width: 17px; }

.icon-gasoline { height: 14px; width: 17px; }

.icon-type { height: 21px; width: 20px; }

.icon-dealer { height: 16px; width: 17px; }

.icon-view_map_list { height: 28px; width: 28px; }

.icon-view_detailed { height: 28px; width: 29px; }

.icon-car-type-1 { height: 19px; width: 37px; }

.icon-car-type-2 { height: 17px; width: 37px; }

.icon-car-type-3 { height: 16px; width: 40px; }

.icon-car-type-4 { height: 16px; width: 31px; }

.icon-car-type-5 { height: 19px; width: 39px; }

.icon-car-type-6 { height: 15px; width: 43px; }

.icon-car-type-7 { height: 13px; width: 38px; }

.icon-car-type-8 { height: 17px; width: 39px; }

.icon-car-type-9 { height: 19px; width: 39px; }

.icon-car { height: 46px; width: 50px; }

.icon-car-lite { height: 41px; width: 45px; }

.icon-gear { height: 44px; width: 42px; }

.icon-gear-lite { height: 43px; width: 44px; }

.icon-camera { height: 44px; width: 51px; }

.icon-camera-lite { height: 44px; width: 51px; }

.icon-details { height: 44px; width: 39px; }

.icon-details-lite { height: 43px; width: 39px; }

.icon-cart { height: 45px; width: 47px; }

.icon-cart-lite { height: 45px; width: 45px; }
