// this file is compile with compass.

@import "compass";

[class^="icon-"],
[class*="icon-"] {
	display: inline-block;
}

$icon-layout:horizontal;
@import "icon/*.png";
@include all-icon-sprites;
$icon: sprite-map("icon/*.png", $spacing: 10px);



.icon-bike{
  @include sprite-dimensions($icon, bike);
}

.icon-car-o-dark{
  @include sprite-dimensions($icon, car-o-dark);
}

.icon-car-o{
  @include sprite-dimensions($icon, car-o);
}

.icon-car{
  @include sprite-dimensions($icon, car);
}

.icon-car-sm{
  @include sprite-dimensions($icon, car-sm);
}

.icon-create_lg{
  @include sprite-dimensions($icon, create_lg);
}

.icon-create-sm{
  @include sprite-dimensions($icon, create-sm);
}

.icon-dashboard-sm{
  @include sprite-dimensions($icon, dashboard-sm);
}

.icon-manage-sm{
  @include sprite-dimensions($icon, manage-sm);
}

.icon-search_lg{
  @include sprite-dimensions($icon, search_lg);
}

.icon-search-sm{
  @include sprite-dimensions($icon, search-sm);
}

.icon-user-sm{
  @include sprite-dimensions($icon, user-sm);
}

.icon-signout-sm{
  @include sprite-dimensions($icon, signout-sm);
}

.icon-user-sm-o{
  @include sprite-dimensions($icon, user-sm-o);
}

.icon-email{
  @include sprite-dimensions($icon, email);
}

.icon-liter{
  @include sprite-dimensions($icon, liter);
}

.icon-lock{
  @include sprite-dimensions($icon, lock);
}

.icon-engine{
  @include sprite-dimensions($icon, engine);
}

.icon-location{
  @include sprite-dimensions($icon, location);
}

.icon-gasoline{
  @include sprite-dimensions($icon, gasoline);
}

.icon-type{
  @include sprite-dimensions($icon, type);
}

.icon-dealer{
  @include sprite-dimensions($icon, dealer);
}

.icon-view_map_list{
  @include sprite-dimensions($icon, view_map_list);
}

.icon-view_detailed{
  @include sprite-dimensions($icon, view_detailed);
}

.icon-car-type-1{
  @include sprite-dimensions($icon, car-type-1);
}

.icon-car-type-2{
  @include sprite-dimensions($icon, car-type-2);
}

.icon-car-type-3{
  @include sprite-dimensions($icon, car-type-3);
}

.icon-car-type-4{
  @include sprite-dimensions($icon, car-type-4);
}

.icon-car-type-5{
  @include sprite-dimensions($icon, car-type-5);
}

.icon-car-type-6{
  @include sprite-dimensions($icon, car-type-6);
}

.icon-car-type-7{
  @include sprite-dimensions($icon, car-type-7);
}

.icon-car-type-8{
  @include sprite-dimensions($icon, car-type-8);
}

.icon-car-type-9{
  @include sprite-dimensions($icon, car-type-9);
}

.icon-car{
  @include sprite-dimensions($icon, car);
}

.icon-car-lite{
  @include sprite-dimensions($icon, car-lite);
}

.icon-gear{
  @include sprite-dimensions($icon, gear);
}

.icon-gear-lite{
  @include sprite-dimensions($icon, gear-lite);
}

.icon-camera{
  @include sprite-dimensions($icon, camera);
}

.icon-camera-lite{
  @include sprite-dimensions($icon, camera-lite);
}

.icon-details{
  @include sprite-dimensions($icon, details);
}

.icon-details-lite{
  @include sprite-dimensions($icon, details-lite);
}

.icon-cart{
  @include sprite-dimensions($icon, cart);
}

.icon-cart-lite{
  @include sprite-dimensions($icon, cart-lite);
}




